In [1]:
print("importo tutto")
import pymongo
import pandas as pd
import matplotlib.pyplot as plt #pyplot è un metodo che utilizza un linguaggi simili agli altri
import numpy as np
!pip install squarify
import squarify  # pip install squarify (algorithm for treemap)
client =pymongo.MongoClient("mongodb://Emanuele-Visioli:EMAnuele25102004@cluster0-shard-00-00.x7fma.mongodb.net:27017,cluster0-shard-00-01.x7fma.mongodb.net:27017,cluster0-shard-00-02.x7fma.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-566dc8-shard-0&authSource=admin&retryWrites=true&w=majority")#gli dico dove andare a prendere il data base
db = client.Visioli # nome del database
df = pd.DataFrame.from_records(db.ristoranti.find())#nome del file (record) che contiene il database
df

importo tutto
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.3

                            _id  ... restaurant_id
0      5eb3d668b31de5d588f42934  ...      40357437
1      5eb3d668b31de5d588f4294f  ...      40363298
2      5eb3d668b31de5d588f42930  ...      40356151
3      5eb3d668b31de5d588f42979  ...      40364744
4      5eb3d668b31de5d588f42a22  ...      40369016
...                         ...  ...           ...
25354  5eb3d669b31de5d588f48bfc  ...      50018830
25355  5eb3d669b31de5d588f48afc  ...      50018297
25356  5eb3d669b31de5d588f48b01  ...      50018312
25357  5eb3d669b31de5d588f48b75  ...      50018565
25358  5eb3d669b31de5d588f48c34  ...      50018948

[25359 rows x 8 columns]

In [ ]:
print("operaizoni sul data frame")
df.drop(df.columns.difference(["borough","cuisine","name"]),1,inplace=True) #eliminare tutte le colonne trannq quelle in lista (se uso 1 prendo le colonne se uso 0 le righe)
df[df["borough"].isnull()].count() #conto tutte le righe che hanno un valore nullo
df.borough.replace("'missing'", np.NaN) #faccio in modo che tutte i calori nel primo paramentro (prima della ",") siano sostituiti con il secondo ("dopo la ,") e in questo caso gli meto un valore nullo
df.dropna(subset=["borough"],inplace=True) #elimino tutte le righe con i valri NaN nella colonna dentro la lista
df.groupby("cuisine").count()["borough"].sort_values(ascending=False) #ragruppo per il 1° valore e poi ordino la colonna nella lista in oridne decrescente
df.groupby("cuisine")["name"].count().idxmax() #trovo il primo valore massimo nella colonna "name" dopo aver ragruppato per le cucine 
dfMod["cuisine"].loc[df["cuisine"]!="American"]= "non american" #prendo tutte le righe di "cuisine" che sono diverse da "American" e le trasformo in "non american"
dfgb = df.groupby('borough').count()[['cuisine']].rename(columns={'cuisine':'numero'}).sort_values('numero', ascending=False) #prendo tutti i valori nella colonna poi la rinomino e in fine metto tutti in decrescente
df3gb = df3.groupby(['borough', 'cuisine']).count() #faccio in modo di mostrare la colonna (1° valore) e faccio un eleconco a fianco con tutti i tipi del 2° valore 
df3.groupby(['borough', 'cuisine']).count()['name'].unstack() #ragruppo sulla colonna nel 1° valore e creo un data frame con tutti i valori nella 2° però adesso l'indice è composto sai dal 1° valore che il 2° (la colonna ha 2 nomi e non va bene)
dfpivot = df3.groupby(['borough', 'cuisine']).count()['name'].unstack().reset_index() #ressto l'indice che adesso prende il nome del 2° valore 
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#https://colab.research.google.com/drive/1QuFq8ZWLLdabAIhNS9eXh-tillXYHgo8?authuser=1#scrollTo=zyk4BKBJ1Xsc

In [4]:
print("istogramma")
labels = dfpivot.borough #asegno all'asse X quello che c'è dentro la colonna
men_means = dfpivot.American  #assegno alla prima linea del grafico i valiri dentro 
women_means = dfpivot['non American'] #idem con patate solo che lo faccio vedere sulla seconda riga 

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars
fig, ax = plt.subplots() #
#x - width/2  dice come fare in modo 
rects1 = ax.bar(x - width/2, men_means, width, label='American') #riempio la prima retta con i valori 
rects2 = ax.bar(x + width/2, women_means, width, label='non American') #idem con patate

fig.autofmt_xdate(rotation=90)                             # Ruota i nomi dei valori sulle ascisse di 45 gradi
fig.suptitle('Tipologia di cucina')    # Imposta il titolo del grafico
fig.legend(loc=1)                                          # Crea la legenda e la posiziona nel I quadrante

ax.set_xticks(x)              # Seleziona ogni quanto visualizzare un nome sulle ascisse
ax.set_xticklabels(labels)    # imposta le scritte che ci saranno sull'asse X per ogni trattino
plt.show()  #mostra il grafico
plt.savefig('grafico.png')    #salva la roba in un file da mettere sempre per ultima

istogramma

NameError: ignored

In [ ]:
print("grafico a barre verticali")
fig,ax = plt.subplots() #crea il canvas
fig.autofmt_xdate(rotation=90) #ruoto le scritte sull'asse X ruotandole con il valore ()
ax.bar(c.index[:10],c[:10]) #.bar definiscer il grafico che è a barre verticali
                            #crea le barre passandogli tra () il primo valore che sono le X e il secondo che sono le Y
plt.show() #mostra il grafico

In [ ]:
print("grafico a torta")
fig,ax = plt.subplots() #crea il cavas 
ax.pie(q,autopct= '%.2f%%',labels= q.index) #.pie definisce il tipo di grafico che è a torta
                                            #q= dataframe in cui c'è una colonna e i suoi valori 
                                            #autopct= '%.2f%%' mette le percentuali approssimate
                                            #labels= q.index = prende le scritte che ci sono nell'indice e le mette accanto alle fette della torta 
plt.show()

In [ ]:
print("grafici a fianco")
fig, ax = plt.subplots(1, 2) #dico che i imei grafici devo essere messi su 1 raga e 2 colonne quindi 1 a destra e uno a sinistra
fig.set_figwidth(18) # imposto la largherzza del canvas 
fig.set_figheight(13) # imposto la altzza del canvas
fig.autofmt_xdate(rotation=90) # ruoto le scritte dell'asse X
ax[0].bar(c.index[:10],c[:10]) # nella prima colonna crea un grafico a barre e gli passa i valori che vanno sulla X e Y 
ax[0].set_title("PRIMI 10 TIPI DI CUCINA", fontsize=17) # metto il titolo al primo grafico e imposto la grandezza 
ax[0].set_xlabel("CUCINE", fontsize=15) # imposto il "titolo" per l'asse X
ax[0].set_ylabel("RISTORANTI", fontsize=15) # imposto il "titolo" per l'asse Y
ax[1].pie(q) # creo il grafico a torta e gli passo la grandezza delle fette 
ax[1].set_title("RISTORANTI PER OGNI QUARTIERE", fontsize=17) # imposto il titolo del secondo grafico 
ax[1].pie(q,autopct="%1.2f%%",labels= q.index) #metto le percentualli alle fette e i nomi
fig.tight_layout() #
plt.show()
plt.savefig("risultati.pdf")